# dependencies
**/node_modules

# testing
**/coverage

# build
**/dist
**/build
**/dist-zip
dist-chrome/
dist-firefox/
extension/manifest.js
extension/pre-build.tsconfig.tsbuildinfo
tsconfig.tsbuildinfo

# env
**/.env.*
**/.env

# etc
.DS_Store
.idea
**/.turbo

# compiled
**/tailwind-output.css
